    <nav class="navbar navbar-default hidden-xs fir">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="noticias" href="#">Notícias</a></li>
                    <li><a class="esportes" href="#">Esportes</a></li>
                    <li><a class="entretenimento" href="#">Entretenimento</a></li>
                    <li><a class="blog" href="#">Blog</a></li>
                    <li><a class="videos" href="#">Vídeos</a></li>
                    <li><a class="envie-noticia" href="#">Envie sua Notícia</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right cidade">
                    <li><a class="cidade" href="#"><strong>Cascavel</strong></a></li>
                    <li class="divisor">|</li>
                    <li><a class="cidade-desativado" href="#">Londrina</a></li>
                </ul>

            </div>
        </nav>

