 <div class="navbar navbar-default sec" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-default pull-left" id="trigger"><i class="fa fa-bars"></i></button> <a class="navbar-brand logo-principal" class="navbar-brand" href="#"><img src="img/taroba_logo.png" width="180"></a>
            </div>
            <div class="sec hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-xs">
                        <div class="search">
                            <input type="text" class="form-control input-sm" maxlength="64" placeholder="Pesquisar..." />
                            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> </button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>