<!--Primeiro BLocod e Notícias-->
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="area-noticia">
                    <div class="noticia-4">
                        <article>

                            <div class="info">
                                <div class="categoria">
                                    <span class="cat-1"><a href="#">Categoria</a></span>
                                    <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                </div>
                            </div>
                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                    <div class="chamada-4">
                        <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></a>
                    </div>
                    <div class="data">
                        <span><a href="#">Categoria</a> - HÁ UMA HORA</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="area-noticia">
                    <div class="noticia-4">
                        <article>

                            <div class="info">
                                <div class="categoria">
                                    <span class="cat-2"><a href="#">Categoria</a></span>
                                    <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                </div>
                            </div>
                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                    <div class="chamada-4">
                        <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></a>
                    </div>
                    <div class="data">
                        <span><a href="#">Categoria</a> - HÁ UMA HORA</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="area-noticia">
                    <div class="noticia-4">
                        <article>

                            <div class="info">
                                <div class="categoria">
                                    <span class="cat-3"><a href="#">Categoria</a></span>
                                    <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                </div>
                            </div>
                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                    <div class="chamada-4">
                        <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></a>
                    </div>
                    <div class="data">
                        <span><a href="#">Categoria</a> - HÁ UMA HORA</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="area-noticia">
                    <div class="noticia-4">
                        <article>

                            <div class="info">
                                <div class="categoria">
                                    <span class="cat-4"><a href="#">Categoria</a></span>
                                    <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                </div>
                            </div>
                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                    <div class="chamada-4">
                        <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></a>
                    </div>
                    <div class="data">
                        <span><a href="#">Categoria</a> - HÁ UMA HORA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Divisor-->
    <hr>