<!--DESTAQUE primário-->
    <div class="container conteudo">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="area-noticia">
                    <div class="noticia">
                        <article>

                            <div class="info">
                                <div class="categoria"><span class="cat-1"><a href="#">Categoria</a></span>
                                    <span class="status pull-right"><i class="fa fa-circle"></i> AO VIVO</span>
                                </div>

                                <div class="chamada">
                                    <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1></a></div>
                                <span>Nam eget lacinia nisl. Sed tempus ligula in ante elementum, a accumsan dui sagittis. Integer sagittis lobortis elit non blandit. In hac habitasse platea dictumst. </span>
                            </div>


                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="area-noticia">
                    <div class="noticia-2">

                        <article>
                            <div class="info">
                                <div class="categoria"><span class="cat-2"><a href="#">Categoria</a></span>
                                </div>

                                <div class="chamada-2">
                                    <a href="#">
                                        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit</h1></a></div>

                            </div>
                        </article>

                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="area-noticia">
                    <div class="noticia-2">
                        <article>

                            <div class="info">
                                <div class="categoria"><span class="cat-3"><a href="#">Categoria</a></span>
                                </div>
                                <div class="chamada-2">
                                    <a href="#"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, consectetur adipiscing elit</h1></a></div>
                            </div>

                        </article>
                        <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>