<!--Bloco de Notícias com Slider-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="noticia-txt">
                    <span>Nam eget lacinia nisl. </span>
                    <a href="#">
                        <h1>Lorem ipsum dolor sit amet, consecte tary adipiscing elit.</h1>
                        <p>Nam eget lacinia nisl. Sed tempus ligula in ante elementum, a accumsan dui sagittis.
                            Integer sagittis lobortis elit non blandit. In hac habitasse platea dictumst. </p>
                    </a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"><span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"><span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"><span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"> <span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"><span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="area-noticia">
                            <div class="noticia-5">
                                <article>

                                    <div class="info">
                                        <div class="categoria">
                                            <span class="tipo pull-right"><a href="#"><i class="fa fa-play-circle-o"></i> </a></span>

                                        </div>
                                    </div>
                                </article>
                                <figure style="background-image: url(http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg)"></figure>
                            </div>
                            <div class="chamada-5">
                                <a href="#"><span class="categoria">Categoria</span></a>
                                <a href="#"><h1>Nam eget lacinia nisl. Sed tempus ligula in ante.</h1></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="noticia-txt-mini">
                    <div class="row">
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <a href="#">
                                <span class="categoria">Categoria</span>
                            </a>
                            <a href="#">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <p>Nam eget lacinia nisl. Sed tempus...</p>
                            </a>
                            <hr>
                        </div>

                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <a href="#">
                                <span class="categoria">Categoria</span>
                            </a>
                            <a href="#">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <p>Nam eget lacinia nisl. Sed tempus...</p>
                            </a>
                            <hr>
                        </div>
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <a href="#">
                                <span class="categoria">Categoria</span>
                            </a>
                            <a href="#">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <p>Nam eget lacinia nisl. Sed tempus...</p>
                            </a>
                            <hr>
                        </div>
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <a href="#">
                                <span class="categoria">Categoria</span>
                            </a>
                            <a href="#">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <p>Nam eget lacinia nisl. Sed tempus...</p>
                            </a>
                            <hr>
                        </div>
                        <div class="col-md-12 col-sm-4 col-xs-6">
                            <a href="#">
                                <span class="categoria">Categoria</span>
                            </a>
                            <a href="#">
                                <h1>Lorem ipsum dolor sit amet.</h1>
                                <p>Nam eget lacinia nisl. Sed tempus...</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Carousel ================================================== -->
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#"><img class="thumbnail" src="http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg" alt="Slide1"></a>
                            <div class="caption">
                                <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur enim ac dapibus consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin finibus pharetra. Nunc pharetra ante neque, at consequat arcu tincidunt pretium. Nulla ut diam nec felis blandit posuere eu ac odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img class="thumbnail" src="http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg" alt="Slide2"></a>
                            <div class="caption">
                                <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                            </div>
                        </div>
                        <div class="item">
                            <a href="#"><img class="thumbnail" src="http://www.apicius.es/wp-content/uploads/2012/07/IMG-20120714-009211.jpg" alt="Slide3"></a>
                            <div class="caption">
                                <h4>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h4>
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                </div><!-- End Carousel -->
            </div>


        </div>
    </div>