<!-- Blog-->
    <div class="container-fluid blog-area">
        <div class="titulo">
            <h2>BLOGS & COLUNAS</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/bruno.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Bruno Maffi</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/dani.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Daniela Lenzi</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/diogo.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Diogo Hutt</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/e-bicho.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">É Bicho</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/fernando.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Fernando Brevilheri</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/isabel-joao.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Isabel Lied e João Diego</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/isadora.jpg" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Isadora Markus</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/isto.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">ISTO POSTO</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/jessica.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Jéssica Moreira</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/julio.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Júlio Sodré</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/kelen.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Kellen Lopes</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/londrina-top-tem.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Londrina Top Tem</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/lu.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Lu Oliveira</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/luciano.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Luciano Neves</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/luiz.jpg" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Luiz Haab</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/marcio.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Parco Pina</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/marco.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Marco Gomes</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/sirlei.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Sirlei Benetti</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-xs-12 col-sm-6 col-md-2">
                                    <a href="#"><img src="img/vamos-plantar.png" class="img-responsive center-block"></a>
                                    <a href="#"><h4 class="text-center">Vamos Plantar</h4></a>
                                    <a href="#"><h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5></a>
                                </div>
                            </div>


                        </div>

                        <div id="slider-control">
                            <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://s12.postimg.org/uj3ffq90d/arrow_left.png" alt="Left" class="img-responsive"></a>
                            <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="https://s12.postimg.org/djuh0gxst/arrow_right.png" alt="Right" class="img-responsive"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>