<!--Programas-->
    <div class="container programa-area">
        <div class="titulo">
            <h2>PROGRAMAS</h2>
        </div>

        <div class="row">

            <div class="MultiCarousel" data-items="1,2,3,4" data-slide="1" id="MultiCarousel"  data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/atualidades-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/brasil-urgente-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/canal-geral-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/canta-parana-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/gente-que-faz-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/jornal-taroba-1-edicao-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/jornal-taroba-2-edicao-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/mercado-cia-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/ponto-de-vista-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/primeira-hora-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/taroba-esporte-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/taroba-rural-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/tempo-quente-tb.png"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img class="img-responsive" src="img/vitrine-revista-tb.png"/>
                        </div>
                    </div>

                </div>
                <button class="btn btn-primary leftLst"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-primary rightLst"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
    <hr/>