<!--Publicidade-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="area-noticia">
                    <a href="#">
                        <div class="ads">
                            <span class="badge">PUBLICIDADE</span>
                            <figure style="background-image: url(img/nike.jpg)"></figure>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>