<!--Menu Footer-->
    <div class="container-fluid menu-footer">
        <nav class="main-nav navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="page-scroll" href="#">Cidades</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#">Sobre Nós</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#">Envie Sua Notícia</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#">Fale Conosco</a></li>
                    <li class="nav-item"><a class="page-scroll" href="#">Uso de Cookies</a></li>
                </ul>
            </div>
        </nav>
    </div>