<!--Logos Grupo-->
    <footer class="ft-secundario">
        <div class="container grupo">
            <ul>
                <li><img src="img/grupo.jpg" width="150"></li>
                <li><img src="img/taroba_logo.png" width="150"></li>
                <li><img src="img/logo-tv-taroba.png" width="150"></li>
                <li><img src="img/radio.png" width="80"> </li>
                <li><img src="img/Band-logo.png" width="60"></li>

            </ul>
        </div>
    </footer>